@using Microsoft.AspNet.Identity

<div flex-no-shrink class="b-t">
    <div class="nav-fold">
        <a href="#">
            <span class="pull-left">
                <img src=@Url.Content("~/assets/images/a0.jpg") alt="..." class="w-40 img-circle">
            </span>
            <span class="clear hidden-folded p-x">
                <span class="block _500"> @User.Identity.GetUserName() </span>
                <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
            </span>
        </a>
    </div>
</div>
